<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mome.myapp.dao.CommunityDAO">
	<select id="communityList" resultType="CommunityVO">
		select no, subject, nickname, hit, date_format(writedate, '%m-%d %h:%i') writedate
		from community
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>	
		order by no desc
		limit ${onePageRecord} offset ${offsetPoint}
	</select>
		<insert id="CommunityWriteOk">
		insert into community(subject, content, nickname)
		values(#{subject}, #{content}, #{nickname})
	</insert>
	<select id="totalRecord" resultType="int">
		select count(no) cnt from community
		<if test='searchWord!=null'>
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	<select id="getCommunity" resultType="CommunityVO" parameterType="int">
		select no, subject, content, hit, nickname, writedate
		from community
		where no=${param1}
	</select>
	<update id="hitCount">
		update community set hit = hit+1 where no = ${param1}
	</update>
	<delete id="communityDel">
		delete from community where no=${param1} and nickname=#{param2}
	</delete>
	<update id="communityEditOk" parameterType="CommunityVO">
		update community set subject=#{subject}, content=#{content} where no=${no} and nickname=#{nickname}
	</update>
	<delete id="communityMultiDel">
		delete from community
		<where>
			<foreach item="item" index="index" collection="noList" open="no in (" separator="," close=")">
				${item}
			</foreach>
		</where>
	</delete>
	<delete id="dataDelete">
		delete from data where no=${param1} and nickname=#{param2}
	</delete>
</mapper>




